{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta charset="utf-8">
    <title>{% block title %}To-Do List{% endblock title %}</title>
  </head>
  <body>
    <header>
      {% if user.is_authenticated %}
      <div class="header-left">
        <span>User: <strong>{{ user.username }}</strong></span>
        <div class="header-links">
          <a href="{% url 'task_new' %}">Add new task</a>
          <a href="{% url 'task_list' %}">List all tasks</a>
        </div>
      </div>
        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit">Log out</button>
        </form>
      {% else %}
        <span>You are not logged in</span> |
        <a href="{% url 'login' %}">Log in</a>
      {% endif %}
    </header>

    <main>
      {% block content %}
      {% endblock content %}
    </main>
  </body>
</html>
