{% extends "base.html" %}
{% load static %}

{% block title %}Tasks{% endblock title %}

{% block content %}
<!-- Załaduj dedykowany CSS dla zadania -->
<link rel="stylesheet" type="text/css" href="{% static 'css/task_list.css' %}">

<div class="task-list-container">
    {% for task in task_list %}
        <div class="task-item">
            <div>
                <span>
                    <a href="{{ task.get_absolute_url }}">{{ forloop.counter }}. {{ task.title }}</a>
                </span> &middot;
                <span class="priority 
                    {% if task.priority == 1 %}high{% elif task.priority == 2 %}medium{% else %}low{% endif %}">
                    Priority: {{ task.get_priority_display }}
                </span>
                <span class="due-date">
                    Due: {{ task.due_date }}
                </span>
            </div>
            <div class="task-actions">
                {% if task.author.pk == request.user.pk %}
                    <a href="{% url 'task_edit' task.pk %}">Edit</a>
                    <a href="{% url 'task_delete' task.pk %}">Delete</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}
